# Виртуальное окружение Python
.venv/

# Настройки с логинами, паролями и адресами баз данных
local_settings.py

# Кэш Python
__pycache__/
*.pyc

# Настройки PyCharm
.idea/

# Системные файлы Windows и macOS
Thumbs.db
.DS_Store


# Я использовала .gitignore,
# чтобы исключить из репозитория конфиденциальные настройки подключения,
# виртуальное окружение, кэш Python и локальные настройки IDE.