# Подключение к базе данных MySQL
mysql-connector-python

# Работа с MongoDB
pymongo==4.17.0




# В requirements.txt я указала внешние зависимости проекта.
# Комментарии поясняют назначение каждой библиотеки,
# а фиксированная версия PyMongo гарантирует использование проверенной совместимой версии.