# Подключение к базе данных MySQL
mysql-connector-python

# Работа с MongoDB
pymongo==4.17.0

# Веб-интерфейс
fastapi[standard]
jinja2

# Автоматическое тестирование
pytest

# Форматирование таблиц в консоли
tabulate